<h1>{{ title }}</h1>

<ul>
  <li>
    <a routerLink='/add' mat-button mat-flat-button color='primary'>Add item</a>
  </li>
</ul>

<router-outlet></router-outlet>

<div>
  <mat-form-field appearance="fill">
    <input matInput type="text" class="example-full-width" placeholder="Search Contact" (keyup)='search($event)' />
  </mat-form-field>
  <br>
</div>


<table mat-table [dataSource]="contacts" class="">

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> First name </th>
    <td mat-cell *matCellDef="let contact"> {{contact.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Last name </th>
    <td mat-cell *matCellDef="let contact"> {{contact.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let contact">
      <a mat-button mat-flat-button color='primary' routerLink="/edit/{{contact.id}}">edit</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let contact">
      <a href="#" mat-button mat-flat-button color='warn' (click)='deleteContact(contact)'>Delete</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>